:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  font-family: "Inter", sans-serif;
  margin: 0;
  display: flex;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
  background-color:#23252C;
  background-size: cover;
  height: 100%;

}

h1 {
color: #FFFFFF;
font-family: "Inter";
font-weight: 700;
font-size: 1.5em;
margin-bottom: 5px;
padding-left: 50px;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.info-container {
  width: 400px;
  height: 650px;
  opacity: 1;
  margin-top: 30px;
  background-color: #1A1B21;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

}

.dp {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 420px;
  opacity: 1;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.name {
  display: flex;
  align-items: center;
  font-family: "Inter", sans-serif;
  font-size: 2.5rem;
  color: #FFFFFF;
  margin-bottom: 3px;
}

.title {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  color: #F3BF99;
  text-align: center;
  margin: 0;
}

.website {
  font-size: 1rem;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: #FFFFFF;
  text-align: center;
  margin-top: 2px;
}

.link {
  color: #F5F5F5;
}

.email-btn {
  justify-content: center;
  display: flex;
  width: 300px;
  height: 40px;
  border-radius: 6px;
  border-width: 1px;
  padding: 9px 13px;
  margin: 30px auto 0;
  gap: 8px;
  text-align: center;
}

.about-container {
  width: 400px;
  height: 400px;
  opacity: 1;
  margin-top: 0px;
  padding-top: 10px;
  background-color: #1A1B21;
}

.about-me {
  padding: 0 50px;
  font: "Inter";
  font-weight: 400;
  color: #F5F5F5;
  text-align: left;
}